#player-health-bar {
  width: 5rem;
  height: 1rem;
  border: 0.15rem solid rgb(0, 0, 0);
  margin-top: 0.1rem;
  border-radius: 50px;
  overflow: hidden;
}

#player-health-bar-full {
  height: 100%;
  background: rgb(11, 223, 36);
  width: 50%;
}

#enemy-health-bar {
  width: 5rem;
  height: 1rem;
  border: 0.15rem solid rgb(0, 0, 0);
  margin-top: 0.1rem;
  border-radius: 50px;
  overflow: hidden;
}

#enemy-health-bar-full {
  height: 200%;
  background: rgb(11, 223, 36);
  width: 50%;
}
