* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  font-family: "Chakra Petch", sans-serif;
}

.start {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 14, 14, 0.925);
  z-index: 999;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#start {
  padding: 5px;
  font-size: 20px;
}

.home-background {
  background-image: linear-gradient(
      to top left,
      rgba(51, 51, 51, 0.9),
      rgba(51, 51, 51, 0.8)
    ),
    url("./images/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.home-background h1 {
  color: #fff;
  font-size: 350%;
  text-align: left;
  padding: 2% 0 0 2%;
}
.home-background span {
  color: #2fb667;
}

.home-gambit {
  position: absolute;
  left: -40%;
  top: 30%;
  width: 100%;
}
.button-box {
  display: inline-block;
  padding: 3rem 6rem;
  position: absolute;
  bottom: 5%;
  right: 0;
}
.button {
  margin-right: 1rem;
  padding: 1.5rem 2rem;
  font-weight: bold;
}
/*------------modal---------------*/
.content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.content h1,
.content h2,
.content h3,
.content h4 {
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
}
/*-------animation-------*/
.button-box {
  opacity: 0;
}

.button-box.animate__animated {
  opacity: 1;
}
/*-------card container-------*/

.play-section {
  /* display:none; */
  width: 100vw;
  height: 100vh;
  padding-top: 2%;
  position: relative;
  overflow: hidden;
}

/* .center{
    display:flex;
    justify-content: left;
    align-items: center;
} */
/*-------hero section-------*/
.card-wrapper {
  width: 70%;
}
.container {
  width: 70%;
  margin: 0 auto;
}
.cards {
  color: #fff;
  width: 40vw;
  height: 60vh;
}

.column {
  flex-grow: 0;
}
.hero-body {
  padding-bottom: 0;
}
.columns img {
  width: 40%;
  margin-right: 2%;
}
.user-name {
  animation: type 3s steps(22);
  overflow: hidden;
  white-space: no-wrap;
  width: 22ch;
}

/* Play Game */
.play-section {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgba(51, 51, 51, 0.705),
      rgba(51, 51, 51, 0.747)
    ),
    url(./images/back3.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  padding-top: 0;
  color: #fff;
}
.play-section .user-info {
  padding-top: 5px;
  margin-bottom: 8px;
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.player-text {
  color: #333;
  background-color: #fff;
  font-family: "Shadows Into Light";
  font-weight: bold;
  border: 3px solid #333;
  border-radius: 5px;
  flex-basis: 60%;
  padding: 1%;
}

.player-img {
  flex-basis: 10%;
}

/* Play Area */
.play-area {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* max-height: 60%; */
}
.button-container .button {
  margin: 5px;
}
.hand {
  /* max-width: 20%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hand img {
  margin: 5px;
  max-width: 20%;
}

.player {
  flex: 40%;
}
.button-container {
  flex: 20%;
}
.dealer {
  flex: 40%;
}

/* shop section */
.shop {
  background-color: #f6f6f6;
  height: 100vh;
}
.shop-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.shop-container div {
  padding: 0 20px 20px;
  width: 25%;
  overflow: hidden;
}

.shop-container img {
  border-radius: 4px;
  width: 100%;
}
.shop-container .unlock-card {
  width: 100%;
  text-align: center;
}
.unlock-card button {
  padding: 10px;
}

.navbar {
  padding: 0.1% 0 0 0;
  background-color: #333;
  margin-bottom: 3%;
  text-transform: uppercase;
}

.navbar-menu a {
  margin: 1% 3% 0 0;
  color: #fff;
  padding: 10px 0;
  font-size: 70%;
}
.navbar-menu a:hover {
  color: #dbd8d8;
}
.navbar-burger {
  color: #fff;
}
.navbar-start {
  color: #fff;
  margin-top: 0.6%;
  padding-left: 2%;
  font-size: 130%;
}
.navbar-start span {
  color: #2fb667;
  margin-left: 10%;
}

/* .lock-icon {
  background-color: rgba(255, 255, 255, 0.808);
  z-index: 1;
} */

/* Media Queries */

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 8ch;
  }
}
