* {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    font-size: revert;
}

html,
body {
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Chakra Petch';
    text-rendering: optimizeLegibility;
}
button {
    outline: none;
}

/* Navigation Bar */

.navbar {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-size: 200%;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}
.navbar-start{
  display:flex;
}
.navbar-start .nav-might{
    position: relative;
    width: fit-content;
    cursor: pointer;
}

.navbar-start .nav-might::before,
.navbar-start .nav-might::after {
    --scale: 0;
    position: absolute;
    bottom: -.25rem;
    transform: translateX(-5%) translateY(65%) scale(var(--scale));
    transition: 150ms transform;
}
.navbar-start .nav-might::before {
    content: attr(data-tooltip);
    padding: .5rem;
    width: max-content;
    background: rgba(97, 93, 93, 0.5);
    border-radius: .3rem;
}
.navbar-start .nav-might:hover::before {
    --scale: 1;
}

.navbar-start span{
    color: #2fb667;
}

.navbar-start div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
  
}

.navbar-start div span{
    color: #f1da0b;
}

.main-nav{
   display:flex;
   justify-content: space-around;
   align-items: center;
   padding-right: 20px;
}
.main-nav button{
    width:auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border:0;
    color:#fff;
    font-size: 120%;
    margin: 0 17px;
    cursor: pointer;
}
.main-nav button:hover{
    color: rgb(158, 152, 152);
}
.main-nav .cart{
    font-size: 130%;
}
.nav-user{
    width:2rem;
    height: 2rem;
    border-radius: 50%;
}
#menu{
  display: none;
  color:#fff;
}
.fas .fa-lg .fa-search{
  display:none;
  color:#fff;
}
#search{
    padding:7px 10px 10px 10px;
    height:38px; 
}
.nav-background{
    height:100vh;
    display: none;
}
/* Enter Site Screen */

#enter-site {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.65);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#enter-site button {
    background-color: #3adb76;
    color: #fff;
}


/* Home Screen */

#home {
    background-image: linear-gradient( to top left, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.8)), url("../images/city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

#home .mute {
    position: fixed;
    top: 0;
    right: 0;
    margin: 15px 30px;
    font-size: 150%;
    cursor: pointer;
    color: rgb(235, 228, 228);
}

.home-hidden{
    position: relative;
    display:flex;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
}

#home .gambit {
    position: fixed;
    width: 40%;
}

#home h1 {
    position: absolute;
    left: 10%;
    top: 8%;
    z-index: 2;
    color: #fff;
    font-size: 350%;
}

#home span {
    color: #2fb667;
}

#home .home-buttons {
    margin-bottom: 8%;
    margin-right: 10%;
    width: 100%;
    text-align: end;
}

.home-buttons button {
    margin-left: 10px;
}

#rule-modal {
    line-height: 2;
    width: 35%;
}


/* Play Screen */

#play {
    background-image: url('../images/poker-table.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    height:100vh;
    color: white;
    font-size: 130%;
    position: relative;
}
#play .button{
    margin: 5px;
}

.play-game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80vw;
}

.play-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.play-container div {
    margin: 4px 0;
}

.play-area {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.user-info {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.user-info p {
    display: inline;
}

.user-chat {
    display: none;
    color: #333;
    background-color: #fff;
    font-family: "Shadows Into Light";
    font-weight: bold;
    border: 3px solid #333;
    border-radius: 5px;
    padding: 10px;
}

.user-display img {
    max-width: 80px;
    margin: 5px;
}

.play-buttons {
    display: flex;
    align-items: center;
}

.play-cards {
    width: 100%;
    height: 85%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.play-cards img {
    width: 117px;
    margin: 5px;
}

.play-score {
    display: none;
}

.play-result {
    display: none;
}

#play-bet .modal-card {
    width: fit-content;
}

#play-bet .modal-card-body {
    margin: 0 auto;
    line-height: 2;
    width: fit-content;
    text-align: center;
    border-radius: 7px;
}
#play-bet form {
    width: fit-content;
    margin: 0 auto;
}

#play-bet .modal-card-body button {
    margin-top: 1rem;
}


/* Shop Screen */

.skill {
    position: relative;
    cursor: pointer;
}
.skill:hover::before {
    --scale: 1;
}
  
.skill::after,
.skill::before {
    --scale: 0;
    position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
    transition: 50ms transform;
    z-index: 999;
}
.skill::before {
    content: attr(data-tooltip);
    color: white;
    padding: .5rem;
    border-radius: .3rem;
    text-align: center;
    width: 300px;
    background: #333;
    
}


#shop, #contact {
    background-color: #f6f6f6;
    color: white;
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    align-items: center;
    position: relative;
    background-image: linear-gradient(0deg, rgb(99, 61, 51) 0%, rgb(0, 0, 0) 100%);
}
#shop .shop-select{
    margin-top: 20px;
    display: flex
    
}

.nav-search{
  position: relative;
  height: fit-content;
}
.nav-search input{
  width:100%;
}
.nav-search button{
    border: none;
    background-color: transparent;
    margin-right: 3px;
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
}
.shop-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: flex-start;
   width: 80%;
   padding: 45px 0 0 0;
}

.shop-item{
    width: 15%;
    height: fit-content;
    margin:1%;
    text-align: center;
}

.shop-item div{
    display:flex;
    justify-content: space-between;
}
.shop-item h3{
    border-bottom: 1px solid rgb(194, 187, 187);
    width: fit-content;
    font-weight: 500;
    margin: 0 auto;
}

.shop-item .price{
    letter-spacing: 0.6px;
    font-weight: bolder;
    color:#333;
    font-size: 17px;
}

.form-filter label {
    margin: 5px;
    padding: 3px;
}
.form-filter input {
    margin-right: 5px;
}
.form-filter form {
    display: flex;
    flex-wrap: wrap;
}

.legendary {
    color: rgb(238, 223, 12) !important;
}

.shop-item span {
    margin-right: 2px;
}

.shop-item img{
    width:100%;
    border-radius: 5px;
}

.shop-item .shop-item-info{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.shop-item .shop-item-info p span{
    color: #f1da0b;
}
.shop-item .shop-item-info p{
    margin-top: 5px;
}

.shop-item .shop-item-picture {
    position: relative;
}

/* .shop-item .shop-item-info {
    margin-left: 3px;
    width: fit-content;
} */

.shop-item .shop-item-info button{
    align-self: center;
    padding:0.5em 1em;
    border-radius: 4px;
    border-color: transparent;
    color:#fff;
    border:1px solid transparent;
    cursor: pointer;
}
.shop-item .shop-item-info button:hover{
    filter: brightness(80%);
}
/* Contact Us Screen */

#contact{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: scroll;
}
#contact h1{
    font-size: 300%;
    margin-top: 20px;
}
.contact-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.contact-person {
    margin: 15px;
    width: 210px;
    height: 530px;
}
.contact-person-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid whitesmoke;
}
.contact-person-picture img {
    width: 100px;
    height: 85px;
    margin: 5px;
}
.contact-social{
    display: block;
}
.contact-social i {
    margin: 5px;
    font-size: 110%;
}
.contact-social i:hover {
    filter: brightness(50%);
    cursor: pointer;
}

.shop-item .shop-item-info .btn-red, .btn-red{
    background-color: #d61212 !important;
}
.shop-item .shop-item-info .btn-green{
    background-color: #13b91b;
}
.inventory-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
   
}
.modal-inventory{
    overflow: scroll;
}
.modal-unlock-message .modal-card {
    border-radius: 7px;
}
#inventory-title{
    padding-bottom: 20px;;
}
.modal-inventory .modal-card{
    width:30%;
}
.myItems-img{
border-radius: 7px;
width:100%;
}
.myItems-container{
width:30%;
}
.inventory-header{
  color:rgb(138, 138, 138); 
  text-align: center; 
}
.series{
  padding:10px;
  border-radius: 5px;
  border-color: #2fb667;
}
/* Footer */
#footer{
    position: fixed;
    bottom: 0;
    background-color: transparent;
    font-weight: bolder;
    color:#FFF;
    padding:1rem 2rem;
    width:100vw;
    text-align:right;
    font-size: 100%;
}
#footer h1:hover{
    color: rgb(224, 127, 16);
    cursor: pointer;
}
 
 /* media queries */

@media only screen and (max-width: 767px) {
  body{
    font-size: 14px;
  }
    #home .gambit {
        width: 120%;
        position: fixed;
    }
    #home .home-buttons {
        align-self: center;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        width: 200px;
        margin: 0 auto;
    }
    #home .home-buttons button {
        margin:5px;
    }
    #home-play {
        color: #fff;
        background-color: #2fb667;
    }
    #rule-modal {
        width: 90%;
        height: 100%;
        overflow: scroll;
    }
    .modal-content, .modal-card {
      width: auto;
  }
    .user-info {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .user-display img{
        max-width: 60px;
    }
    .shop-item{
     width:25%;
      scroll-behavior: auto;
    }

    .play-cards img {
        width: 80px;
    }
    .modal-inventory .modal-card{
        width:50%;
    }
    .myItems-container{
        width:49%;
       
    }
    .navbar{
        background-color: black;
    }
    #footer{
        position: static;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.397);
    }
    #menu{
        display: block;   
        position:absolute;
        right:8%;
        top:25%;
    }
    #element{
        display: flex;
    }
    .main-nav{  
        flex-direction: column;
        position: absolute;
        right:-2%;
        top:65%;
        display: none;
        background: rgba(0, 0, 0, 0.65)
    }
    .main-nav button{
        margin-bottom: 10px;
    }
    .navbar{
        flex-direction: column;
        top:0;
    }
    .shop-container{
        padding:10px 0 0 0 ;
    }
    .series{
        margin-top:40%
    }
      .form-filter {
        margin-top: 2%;
    }
      
      .nav-search{
        margin-top:5%;
        width: 90%;  
    }
      .nav-background{
        display: block;
    }

    
}
@media screen and (min-width: 769px){
    .modal-content, .modal-card {
        width: auto;
    }
}
@media screen and (max-width: 1440px){
    #footer h1{
        font-size: 100%;
    }
}
    
   
    /* .main-nav button{
     margin:10px;
    } */
    /* .series{
     top:200%;
    } */
/*  
    .nav-search{
    
     width:90%;
     margin:0 auto;
    }
    .nav-bar{
      flex-direction: column;
    } */
    /* .select:not(.is-multiple):not(.is-loading)::after, .navbar-link:not(.is-arrowless)::after {
      top:240%;
    } */

/* @media screen and (min-width: 769px){

} */

