* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  font-family: "Chakra Petch", sans-serif;
}
.home-background {
  background-image: linear-gradient(
      to top left,
      rgba(51, 51, 51, 0.9),
      rgba(51, 51, 51, 0.8)
    ),
    url("./images/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.home-background h1 {
  color: #fff;
  font-size: 350%;
  text-align: left;
  padding: 2% 0 0 2%;
}
.home-background span {
  color: #2fb667;
}

.home-gambit {
  position: absolute;
  left: -40%;
  top: 30%;
  width: 100%;
}
.button-box {
  display: inline-block;
  padding: 3rem 6rem;
  position: absolute;
  bottom: 5%;
  right: 0;
}
.button {
  margin-right: 1rem;
  padding: 1.5rem 2rem;
  font-weight: bold;
}
/*------------modal---------------*/
.content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.content h1,
.content h2,
.content h3,
.content h4 {
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
}
/*-------animation-------*/
.button-box {
  opacity: 0;
}

.button-box.animate__animated {
  opacity: 1;
}
/*-------card container-------*/

.play-section {
  /* display:none; */
  width: 100vw;
  height: 100vh;
  padding-top: 2%;
}

/* .center{
    display:flex;
    justify-content: left;
    align-items: center;
} */
/*-------hero section-------*/
.card-wrapper {
  width: 70%;
}
.container {
  width: 70%;
  margin: 0 auto;
}
.cards {
  color: #fff;
  width: 40vw;
  height: 60vh;
}

.column {
  flex-grow: 0;
}
.hero-body {
  padding-bottom: 0;
}
.columns img {
  width: 40%;
  margin-right: 2%;
}
.user-name {
  animation: type 3s steps(22);
  overflow: hidden;
  white-space: no-wrap;
  width: 22ch;
}
@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 22ch;
  }
}
.play-section {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgba(51, 51, 51, 0.705),
      rgba(51, 51, 51, 0.747)
    ),
    url(./images/back3.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  padding-top: 0;
  color: #fff;
}
.play-section .user-info {
  margin-left: 12%;
  margin-bottom: 0;
  padding-top: 4%;
}
.player-text {
  color: #333;
  font-family: "Shadows Into Light";
  font-weight: bold;
  border: 3px solid #333;
  border-radius: 5px;
}
