* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  font-family: "Chakra Petch", sans-serif;
}
.home-background {
  background-image: linear-gradient(
      rgba(51, 51, 51, 0.74),
      rgba(51, 51, 51, 0.74)
    ),
    url("./images/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.home-background h1 {
  color: #fff;
  font-size: 350%;
  text-align: center;
  margin-top: 2%;
}

.home-gambit {
  position: absolute;
  left: -40%;
  top: 30%;
  width: 100%;
}
.button-box {
  display: inline-block;
  padding: 3rem 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.9);
}
.button {
  margin-right: 1rem;
  padding: 1.5rem 2rem;
  font-weight: bold;
}
/*------------modal---------------*/
.content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}


.content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.content h1,
.content h2,
.content h3,
.content h4 {
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
}
/*-------animation-------*/
.button-box{
  opacity:0;
}

.button-box.animate__animated {
  opacity:1 
 }