* {
    padding: 0;
    margin: 0;
}

html,
body {
    overflow-y: hidden;
    overflow-x: hidden;
}
button {
    outline: none;
}

/* Navigation Bar */

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.navbar h1 {
    font-size: 200%;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}
.navbar-start .nav-might{
    position: relative;
    width: fit-content;
    cursor: pointer;
}

.navbar-start .nav-might::before,
.navbar-start .nav-might::after {
    --scale: 0;
    position: absolute;
    bottom: -.25rem;
    transform: translateX(-5%) translateY(65%) scale(var(--scale));
    transition: 150ms transform;
}
.navbar-start .nav-might::before {
    content: attr(data-tooltip);
    padding: .5rem;
    width: max-content;
    background: rgba(97, 93, 93, 0.5);
    border-radius: .3rem;
}
.navbar-start .nav-might:hover::before {
    --scale: 1;
}

.navbar-start span{
    color: #2fb667;
}

.navbar-start div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    margin-left: 20px;
}

.navbar-start div span{
    color: #f1da0b;
}

.main-nav{
   display:flex;
   justify-content: space-around;
   align-items: center;
   padding-right: 20px;
}
.main-nav button{
    width:auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border:0;
    color:#fff;
    font-size: 120%;
    margin: 0 17px;
    cursor: pointer;
}
.main-nav button:hover{
    color: rgb(158, 152, 152);
}
.main-nav .cart{
    font-size: 130%;
}
.nav-user{
    width:2rem;
    height: 2rem;
    border-radius: 50%;
}

/* Enter Site Screen */

#enter-site {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.65);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#enter-site button {
    background-color: #3adb76;
    color: #fff;
}


/* Home Screen */

#home {
    background-image: linear-gradient( to top left, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.8)), url("../images/city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

#home .mute {
    position: fixed;
    top: 0;
    right: 0;
    margin: 15px 30px;
    font-size: 150%;
    cursor: pointer;
    color: rgb(235, 228, 228);
}

.home-hidden{
    position: relative;
    display:flex;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
}

#home .gambit {
    position: fixed;
    width: 40%;
}

#home h1 {
    position: absolute;
    left: 10%;
    top: 8%;
    z-index: 2;
    color: #fff;
    font-size: 350%;
}

#home span {
    color: #2fb667;
}

#home .home-buttons {
    margin-bottom: 8%;
    margin-right: 10%;
    width: 100%;
    text-align: end;
}

.home-buttons button {
    margin-left: 10px;
}

#rule-modal {
    line-height: 2;
}


/* Play Screen */

#play {
    background-image: url('../images/poker-table.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 130%;
}
.play-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.play-container div {
    margin: 10px 0;
}

.play-area {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-info {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.user-info p {
    display: inline;
}

.user-chat {
    display: none;
    color: #333;
    background-color: #fff;
    font-family: "Shadows Into Light";
    font-weight: bold;
    border: 3px solid #333;
    border-radius: 5px;
    padding: 10px;
}

.user-display img {
    max-width: 80px;
    margin: 5px;
}

.play-buttons {
    display: flex;
    align-items: center;
}

.play-cards {
    width: 40vw;
    display:flex;
    justify-content: center;
}

.play-cards img {
    max-width: 20%;
    margin: 5px;
}

.play-score {
    display: none;
}

.play-result {
    display: none;
}

#play-bet .modal-card {
    width: fit-content;
}

#play-bet .modal-card-body {
    margin: 0 auto;
    line-height: 2;
    width: fit-content;
    text-align: center;
    border-radius: 7px;
}
#play-bet form {
    width: fit-content;
    margin: 0 auto;
}

#play-bet .modal-card-body button {
    margin-top: 1rem;
}


/* Shop Screen */

.skill {
    position: relative;
}
.skill:hover::before {
    --scale: 1;
}
  
.skill::after,
.skill::before {
    --scale: 0;
    position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
    transition: 50ms transform;
    z-index: 999;
}
.skill::before {
    content: attr(data-tooltip);
    color: white;
    padding: .5rem;
    border-radius: .3rem;
    text-align: center;
    width: 300px;
    background: #333;
}


#shop {
    padding-top: 5%;
    background-color: #f6f6f6;
    color: white;
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    align-items: center;
    background-image: linear-gradient(0deg, rgb(99, 61, 51) 0%, rgb(0, 0, 0) 100%);
}
#shop .shop-select{
    margin-top: 20px;
}

.shop-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: flex-start;
   width: 80%;
   padding: 45px 0 0 0;
}

.shop-item{
    width: 15%;
    height: fit-content;
    margin:1%;
    text-align: center;
}

.shop-item div{
    display:flex;
    justify-content: space-between;
}
.shop-item h3{
    border-bottom: 1px solid rgb(194, 187, 187);
    width: fit-content;
    font-weight: 500;
    margin: 0 auto;
}

.shop-item .price{
    letter-spacing: 0.6px;
    font-weight: bolder;
    color:#333;
    font-size: 17px;
}

.shop-item span {
    margin-right: 2px;
}

.shop-item img{
    width:100%;
    border-radius: 5px;
}

.shop-item .shop-item-info{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.shop-item .shop-item-info span{
    color: #f1da0b;
}
.shop-item .shop-item-info p{
    margin-top: 5px;
}

.shop-item .shop-item-info button{
    align-self: center;
    padding:0.5em 1em;
    border-radius: 4px;
    border-color: transparent;
    color:#fff;
    border:1px solid transparent;
    cursor: pointer;
}
.shop-item .shop-item-info button:hover{
    filter: brightness(80%);
}
/* Contact Us Screen */

/* #contact {
} */

.shop-item .shop-item-info .btn-red{
    background-color: #d61212;
}
.shop-item .shop-item-info .btn-green{
    background-color: #13b91b;
}


/* Footer */
#footer{
    background-color: #5f5f5f;
    color:#FFF;
    padding:1rem 2rem;
    position: absolute;
   bottom: 0;
    width:100vw;
   text-align:right;
   
 }
 
 /* media queries */

@media only screen and (max-width: 767px) {
    #home .gambit {
        width: 120%;
        position: fixed;
    }
    #home .home-buttons {
        align-self: center;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        width: 200px;
        margin: 0 auto;
    }
    #home .home-buttons button {
        margin:5px;
    }
    #home-play {
        color: #fff;
        background-color: #2fb667;
    }
    #rule-modal {
        width: 90%;
        height: 100%;
        overflow: scroll;
    }
    .user-info {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .user-display img{
        max-width: 60px;
    }
    .shop-item{
     width:25%;
      scroll-behavior: auto;
    }

    .play-cards img {
        max-width: 30%;
    }

    /* #shop{
        overflow:scroll;
        padding-top:15%;
        position: relative;
        overflow-x: hidden;
    } */
   

}

