* {
    padding: 0;
    margin: 0;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}


/* Navigation Bar */

.navbar {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    background-color:#5f5f5f;
    display: flex;
    justify-content: space-between;
}
/* .main-nav{
    display: flex;
    align-items: center;
    margin-right: 3%;
} */

/* nav ul li span {
    font-size: 1.6rem;
    margin: 6% 0 0 1rem;
} */
.main-nav{
   display:flex;
   justify-content: space-between;
   align-items: center;
}
.main-nav button{
    width:auto;
    background-color: transparent;
    border:0;
    color:#fff;
    font-size: 120%;
    margin:0 7px;
    cursor: pointer;
}
.main-nav .cart{
    font-size: 130%;
}

.navbar-start span{
    color: #2fb667;
}


.nav-user{
    width:2rem;
    height: 2rem;
    border-radius: 50%;
}
/* Enter Site Screen */

#enter-site {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enter-site button {
    background-color: #3adb76;
    color: #fff;
}


/* Home Screen */

#home {
    display: none;
    background-image: linear-gradient( to top left, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.8)), url("../images/city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    display:flex;
    align-items: flex-end;
}

#home .gambit {
    position: fixed;
    width: 40%;
}

#home h1 {
    position: absolute;
    left: 10%;
    top: 8%;
    z-index: 2;
    color: #fff;
    font-size: 350%;
}

#home span {
    color: #2fb667;
}

#home .home-buttons {
    margin-bottom: 8%;
    margin-right: 10%;
    width: 100%;
    text-align: end;
}

.home-buttons button {
    margin-left: 10px;
}

#rule-modal {
    line-height: 2;
}


/* Play Screen */

#play {
    display: none;
    background-color: #f5f5f5;
    text-align: center;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.play-area {
    flex: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.user-info {
    flex: 30%;
    display:flex;
    align-items: center;
}

.user-info p {
    display: inline;
}

.user-chat {
    color: #333;
    background-color: #fff;
    font-family: "Shadows Into Light";
    font-weight: bold;
    border: 3px solid #333;
    border-radius: 5px;
    padding: 10px;
}

.user-display img {
    max-width: 80px;
    margin: 5px;
}

.play-cards {
    width: 40vw;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.play-cards img {
    max-width: 20%;
    margin: 5px;
}

.modal-card-body {
    margin: 0 auto;
    line-height: 2;
    
}

.modal-card-body button {
    margin-top: 1rem;
}


/* Shop Screen */

#shop {
    display: none;
    padding-top: 5%;
    background-color: #f6f6f6;
    height: 100vh;
    width:100vw;
    display: flex;
}
#shop select{
text-align: center;
}
.shop-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center; 
}

.shop-item{
    width:10%;

    margin:1%;
    text-align: center;
}

.shop-item div{
    display:flex;
    justify-content: space-between;
}
.shop-item h3{
    line-height: 15px;
    font-size: 12px;
   font-weight: 500;
}
.shop-item .offer{
    color:rgba(0, 0, 0, 0.28);
    max-height: 20px;
    line-height: 10px;
    font-size: 11px;
    text-transform: uppercase;
    
}
.shop-item price{
    letter-spacing: 0.6px;
    font-weight: bolder;
    color:#333;
    font-size: 17px;
}
.shop-item button{
    padding:1em 1em;
}
.shop-item img{
    width:100%;
    border-radius: 5px;
}

.shop-item .price-con{
    display:flex;
   flex-direction: column;
}
.shop-item .price-con button{
    align-self: center;
   padding:0.5em 1em;
    border-radius: 4px;
    border-color: transparent;
    color:#fff;
    border:1px solid transparent
  
    
}
/* Contact Us Screen */

#contact {
    display: none;
}
.shop-item .price-con .btn-red{
    background-color: #e21e1e;
}
/* .shop-item .price-con .btn-green{
    background-color: #2fb667;
} */
/* Footer */
#contact-footer{
    background-color: #5f5f5f;
    color:#FFF;
    padding:1rem 2rem;
    position: absolute;
   bottom: 0;
    width:100vw;
   text-align:right;
   
 }
 
 /* media queries */

@media only screen and (max-width: 767px) {
    #home .gambit {
        width: 80%;
    }
    #home-play {
        color: #fff;
        background-color: #2fb667;
    }
    #rule-modal {
        width: 90%;
        height: 100%;
        overflow: scroll;
    }
    .user-display img {
        max-width: 60px;
    }
    #player{
    position: absolute;
    top:10%;
    left:5%;
    }
    #dealer{
     position: absolute;
    bottom:4%;
    left:5%; 
   
    }
    .play-buttons{
        display: flex;
        flex-direction: column;
        position: absolute;
        top:40%;
        left:5%; 
    }
    .play-game-buttons{
        display:flex;
        flex-direction: column;
    }
    .play-player{
        position: absolute;
        top:27%;
        left:32%; 
    } 
    .dealer{
        position: absolute;
        bottom:10%;
       
    }
    .button{
        padding:5px;
        font-size:80%;
    }
    .user-display img{
        max-width: 50px;
    }
    
    .shop-item{
     width:25%;
      scroll-behavior: auto;
    }
    #shop{
        overflow:scroll;
        padding-top:15%;
        position: relative;
        overflow-x: hidden;
    }
   

}

